{{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Content{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{content-editor-toolbar}}
        {{trix-editor class="trix-editor-wrapper"
                  editorClass="trix-editor"
                  value=model.content
                  trix-change=(action "handleTrixAction" model) }}
      {{/card.content}}
{{/paper-card}}

{{!-- {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Abbildungen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
          {{#ember-image-slider
              content=model.images
              limit=40
              shouldDisplayArrows=true}}
              <div>This image has width:{{images.width}}</div>
          {{/ember-image-slider}}
      {{/card.content}}
{{/paper-card}} --}}

