{{#paper-dialog fullscreen=fullscreen origin=dialogOrigin clickOutsideToClose=true}}

      {{#paper-dialog-content}}
        <h4>{{message}}</h4>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
	    <span class="flex"></span>
	    {{#paper-button primary=true onClick=(action "closeDialog" "cancel")}}Abbrechen{{/paper-button}}
	    {{#paper-button primary=true onClick=(action "deleteExcursionConfirmed" )}}Ok{{/paper-button}}
	  {{/paper-dialog-actions}}

{{/paper-dialog}}