{{#paper-card as |card|}}

    <h1 class="centered padding-top">{{contentType}} Liste</h1>
    
	{{#if createRegion}}
	    {{#create-region model=model createRegionAction="createRegion"}}
	    {{/create-region}}
    {{/if}}

    {{#if createTopicButton}}
    	<div class="centered">
			{{#paper-button raised=true primary=true onClick=(action "openCreateTopicDialog") }}
			  Erstelle ein neues Thema
			{{/paper-button}}
		</div>
    {{/if}}

    {{#if createExcursionButton}}
    	<div class="centered">
			{{#paper-button raised=true primary=true onClick=(action "openCreateExcursionDialog") }}
			  Erstelle ein neue Exkursion
			{{/paper-button}}
		</div>
    {{/if}}

	{{#card.content}}

	    {{!-- Bestehende Bände --}}
	    <div class="list-content">
	    {{#each model  as |m|}}

	      	<h4 class="regionchunk">
	      	{{#link-to editURL m.id }}
	        	<strong>{{ m.name }}</strong>
	        {{/link-to}}
	    	</h4>
			<p class="edit-date">Aktualisiert am <span>{{m.modTime}}</span></p>
	    {{/each}}
			</div>
	{{/card.content}}

{{/paper-card}}

