{{#paper-card as |card|}}

    <h1 class="centered padding-top">{{contentType}} Liste</h1>
    
	{{#if createRegion}}
	    {{#create-region model=model createRegionAction="createRegion"}}
	    {{/create-region}}
    {{/if}}

    {{#if createTopic}}
    	{{#create-topic model=model}}
	    {{/create-topic}}
    {{/if}}

    {{#if createExcursion}}
    	{{#create-excursion model=model}}
	    {{/create-excursion}}
    {{/if}}

	{{#card.content}}

	    {{!-- Bestehende Bände --}}
	    <div class="list-content">
	    {{#each model  as |m|}}

	      	<h4 class="regionchunk">
	      	{{#link-to editURL m.id }}
	        	<strong>{{ m.name }}</strong>
	        {{/link-to}}
	    	</h4>
			<p class="edit-date">Aktualisiert am <span>{{m.modTime}}</span></p>
	    {{/each}}
			</div>
	{{/card.content}}

{{/paper-card}}

