<h2>Bildparameter <span>(gelten nicht für Bildervergleich)</span></h2>
<h4>FLOW PREVIEW (<i><b>flow="preview"</b></i>)</h4>
<p>Das Bild wird im Vorschauformat (300px Breite) eingebettet. Es können so bis zu drei Bilder nebeneinander gesetzt werden. Bilder im Vorschauformat werden vom Text umflossen. Das ist mit dem <i>clear Shortcode</i> zu ändern.</p>
<h4>FLOW AROUND (<i><b>flow="around"</b></i>)</h4>
<p>Das Bild wird vom Text umflossen. Die Bildgrösse wird je nach Bildschirmgrösse skaliert.</p>
<h4>Bilder in Slideshow (<i><b>clickable</b>="true"</i>)</h4>
<p>Alle Beitragsbilder sind automatisch in einer Slideshow verfügbar. Der Parameter <i>clickable</i> definiert, ob ein Bild per Mausklick die Slideshow öffnet.</p>
<p>Falls Bilder nur in der Slideshow erscheinen sollen, jedoch nicht im Text: <i><b>hidden</b>="true"</i></p>
<div class="reminder">
  <h4>Abbildungen für den Leipzigband</h4>
  Für die Dateinamen und deren Pfadangabe im Shortcode gelten Besonderheiten.
  <p><b>Name der Bilddatei mit vorangestellter Beitrags Id:</b> <i>78_E_556-bildname.jpg</i>, Vorschaubilder(300px): <i>78_E_556-300px-bildname.jpg</i></p>
  <p><b>Pfadangabe Shortcode ohne Beitrags Id:</b> <i>pfad=bild.jpg</i></p>
</div>
