<h2>Bildparameter <span>(gelten nicht für Bildervergleich)</span></h2>
<p>Alle Parameter zum formatieren der Bilder sind optional. Wird kein Parameter gewählt, wird das Bild in voller Grösse eingebettet. Der <b>flow</b> Parameter hat die Attribute <b>preview</b> und <b>around</b>. Somit erscheint für <i>flow="preview"</i> ein Bild in 300px Grösse. Kombiniert mit <i>flow="around"</i> führt das zu umfließenden Text.</p>
<p>Der Parameter <i><b>clickable</b>="true"</i> sorgt für die Möglichkeit über dieses Bild in die Slideshow zu allen Bildern des Beitrages zu gelangen.</p>
<p>Falls Bilder nur in der Slideshow erscheinen sollen, jedoch nicht im Text: <i><b>hidden</b>="true"</i></p>
<h4>Abbildungen für den Leipzigband</h4>
<p><b>Dateiname:</b> <i>78_E_556-bildname.jpg</i>, mit vorangestellter Beitrags Id</p>
<p><b>Shortcode Pfad:</b> <i>pfad=bild.jpg</i>, die Beitrags Id ist wegzulassen</p>