<h2>Markdown Hilfe</h2>
<p>Die Markdownsyntax ist gültig für die Kurzbeschreibung (Metadaten) und den Content.</p>
<table>
  <tr>
    <th>Ergebnis</th>
    <th>Markdown</th>
  </tr>
  <tr>
    <td>
      <b>Fett</b>
    </td>
    <td>
      **Fett**
    </td>
  </tr>
  <tr>
    <td>
      <i>Kursiv</i>
    </td>
    <td>
      *Kursiv*
    </td>
  </tr>
  <tr>
    <td>
      <i>*Lupja</i>
    </td>
    <td>
      *\*Lupja*
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <h3>Überschrift 3</h3>
    </td>
    <td>
      ### Überschrift 3
    </td>
  </tr>
   <tr>
    <td>
      <h4>Überschrift 4</h4>
    </td>
    <td>
      #### Überschrift 4
    </td>
  </tr>
</table>