<div layout="row">
   <h2>Live Vorschau der Webseite</h2>
   <p>
     Um eine Echtzeitvorschau der Seite zu ermöglichen, muss ein Vorschauserver auf Laufwerk Q:\ gestartet werden. <br>
     <ul>
       <li>Dazu im Windows Explorer Laufwerk Q:\ auswählen</li>
       <li>Menüpunkt Datei > Eingabeaufforderung öffnen</li>
       <li>Im Fenster der Eingabeaufforderung hinter <i>Q:\></i> den Befehl <b>hugo17.exe server -p=1314</b> eingeben</li>
       <li><b>Das erstmalige Starten des Servers dauert wenige Minuten</b></li>
       <li><b>Falls der Port (p=1314) belegt ist, einen anderen wählen (p=1315)</b></li>
     </ul>
     <b>Die Webseite ist nun im Browser unter der Adresse localhost:PORTNUMMER zu erreichen.</b>
    <img height="800px" width="800px" src="/img/win-explorer.png" alt="Windows Explorer Ansicht">
   </p>
</div>




