<div layout="row">
   <h2>Die Webseite zur Publikation vorbereiten</h2>
   <p>
     Um die Webseite für die Publikation vorzubereiten, muss diese kompiliert, d.h. "gebaut" werden.
     <br>
     <ul>
       <li>Dazu im Windows Explorer Laufwerk Q:\ auswählen</li>
       <li>Menüpunkt Datei > Eingabeaufforderung öffnen</li>
       <li>Im Fenster der Eingabeaufforderung hinter <i>Q:\></i> den Befehl <b>hugo17.exe</b> eingeben</li>
       <li><b>Das Kompilieren der Seiten dauert wenige Minuten und endet mit einer Ausgabe über die erstellten Seiten</b></li>
     </ul>
     <b>Die komplette Webseite ist nun im Verzeichnis Q:\www zu finden. <br> Um den Publikationsprozess abzuschließen, muss der Transfer via FTP auf den Server (strato) vollzogen werden.</b>
     <br>
    <img height="600px" width="600px" src="/img/win-term-output.png" alt="Ansicht Eingabeaufforderung">
   </p>
</div>




