{{#paper-dialog fullscreen=fullscreen origin=dialogOrigin clickOutsideToClose=true}}

     {{!--  {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          <h2>Statusmeldung</h2>
        </div>
      {{/paper-toolbar}} --}}

      {{#paper-dialog-content}}
        <h4>{{message}}</h4>
      {{/paper-dialog-content}}

{{/paper-dialog}}