{{#paper-dialog fullscreen=fullscreen origin=dialogOrigin clickOutsideToClose=true}}

      {{#paper-dialog-content}}
        <h4>{{message}}</h4>
      {{/paper-dialog-content}}

      
{{/paper-dialog}}