$primary: "light-green";
$accent: "blue";
$warn: "deep-orange";
$background: "grey";
$link: "yellow";

$dark: false;
$default-color: '500';

$foreground: "foreground-dark";

$base-background-color: white;
$base-color: rgba(0, 0, 0, 0.87);

@import 'ember-paper';

$background: color("orange", "50");

html, body {
	background-color: $background;
}

.container {
	background-color: $background;
}

.lid-icon {
	width: 75px;
	margin-right: 10px;
	vertical-align: text-bottom;
}

.nav-logo-text > a, .nav-logo-text > a:visited {
	color: $base-color;
	text-decoration: none !important;
	margin-top: -15px;
}

.editor-dock {
	position: fixed;
}

@import 'content-editor-toolbar';

.site-nav {
	text-align: right;
}

.mono {
	font-family: monospace;
}

.centered {
	text-align: center;
}

.padding-top {
	padding-top: 4%;
}

.button-bottom-margin {
	margin-bottom: 15px;
}

// region list
.regionchunk > a, .regionchunk > a:visited {
    color: #06c;
    display: block;
    font-size: 1em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    //font-weight: bold;
}

// dir list content
.list-content {
	padding-left: 20%;
	padding-top: 5%;
}


// content list edit date
.edit-date {
	font-size: 0.9em;
	margin-top: -15px;
	color: color("light-green", '500');
}

// trix editor toolbar
.content-editor {
	display: block;
 }

.sticky-trix-toolbar {
	position: fixed;
	top: 0px;
}

// image assets menu
.preview-img {
	width: 80px;
	height: 80px;
}

.light-blue {
	color: #06c;
}

// excursion edit leaflet map
.leaflet-container {
	width: 100%;
	height: 400px;
}

#dialog-container {
	position: relative;
}

.map-dialog-container {
	width: 100%;
	height: 330px;
}
.map-dialog {
	width: 600px;
	height: 330px;
}

md-backdrop.md-dialog-backdrop {
	z-index: 1000;
}

.md-dialog-container {
	z-index: 1005
}

// loading page style
#load {
	position:absolute;
	width: 12px;
	height: 12px;
	top: 50%;
	left: 50%;
	margin:-6px 0 0 -6px;
	border-radius: 50%;
	-webkit-animation: middledot 2s ease-in-out infinite;
	animation: middledot 2s ease-in-out infinite;
}

#load:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	-webkit-animation: firstdot 2s ease-in-out infinite;
	animation: firstdot 2s ease-in-out infinite;
}

#load:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 25px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	-webkit-animation: lastdot 2s ease-in-out infinite;
	animation: lastdot 2s ease-in-out infinite;
}

@keyframes middledot {
	0% { background-color: rgba(36, 41, 44, .2); }
	25% { background-color: rgba(36, 41, 44, .2); }
	50% { background-color: rgba(36, 41, 44, 1); }
	75% { background-color: rgba(36, 41, 44, .2); }
	100% { background-color: rgba(36, 41, 44, .2); }
}

@-webkit-keyframes middledot {
	0% { background-color: rgba(36, 41, 44, .2); }
	25% { background-color: rgba(36, 41, 44, .2); }
	50% { background-color: rgba(36, 41, 44, 1); }
	75% { background-color: rgba(36, 41, 44, .2); }
	100% { background-color: rgba(36, 41, 44, .2); }
}

@keyframes firstdot {
	0% { background-color: rgba(36, 41, 44, .2); }
	25% { background-color: rgba(36, 41, 44, 1); }
	50% { background-color: rgba(36, 41, 44, .2); }
	75% { background-color: rgba(36, 41, 44, .2); }
	100% { background-color: rgba(36, 41, 44, .2); }
}

@-webkit-keyframes firstdot {
	0% { background-color: rgba(36, 41, 44, .2); }
	25% { background-color: rgba(36, 41, 44, 1); }
	50% { background-color: rgba(36, 41, 44, .2); }
	75% { background-color: rgba(36, 41, 44, .2); }
	100% { background-color: rgba(36, 41, 44, .2); }
}

@-webkit-keyframes lastdot {
	0% { background-color: rgba(36, 41, 44, .2); }
	25% { background-color: rgba(36, 41, 44, .2); }
	50% { background-color: rgba(36, 41, 44, .2); }
	75% { background-color: rgba(36, 41, 44, 1); }
	100% { background-color: rgba(36, 41, 44, .2); }
}

@keyframes lastdot {
	0% { background-color: rgba(36, 41, 44, .2); }
	25% { background-color: rgba(36, 41, 44, .2); }
	50% { background-color: rgba(36, 41, 44, .2); }
	75% { background-color: rgba(36, 41, 44, 1); }
	100% { background-color: rgba(36, 41, 44, .2); }
}
