.ember-image-slider {
	$animation-time: 0.3s;
	// max-width: 66.66%;
	align-items: center;
	margin: 5px auto;
	position: relative;
	// left: -25px;

	.horizontal-grid {
		display: flex;
		flex-flow: row nowrap;
		width: 90vw;
	}

	md-input-container {
		padding: 0;
	}

	.slider-item {
		margin: 10px;
		vertical-align: middle;
		cursor: pointer;
		transform: scale(1);
		transition: $animation-time transform;
		
		flex:1;

		

		&::after {
				content: "\e834";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'Material Icons';
				color: transparent;
				font-size: 2em;
				transition: $animation-time color;
		}

		&.picked {

			&::after {
				color: green;
			}
			
		}

		&.picked img {
			transform: scale(1.1);
		}


		img {
			max-width: 100%;
			transition: 0.3s transform;
			transform: scale(1);
			margin-bottom: 10px;

		}
	}

	&:hover {
		.arrow {
			opacity: 1;
		}
	}

	.arrow {
		$arrow-size: 2em;
		position: absolute;
		top: -10px;
		bottom: 0;
		margin: auto;
		height: 100%;
		font-size: $arrow-size;
		padding: 10px;
		width: $arrow-size / 2;
		text-align: center;
		cursor: pointer;
		opacity: 0;
		transition: $animation-time opacity;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: "";
			display: block;
			font-size: $arrow-size;
			height: 1em;
			font-family: 'Material Icons';
			color: white;
			width: 1em;
			text-align: center;
		}

		&.left {
			background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
			transition: $animation-time background;
			&::before {
				left: -0.2em;
				content: "\e314";

			}

			&:hover {
				background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
			}
		}

		&.right {
			right: 0em;
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
			&::before {
				right: -0.2em;
				content: "\e315";
			}

			&:hover {
				background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
			}
		}
	}
}

.grid-wrap {
	width: 100%;
	overflow-x: auto;
}

.content-wrap {
	position: relative;
}

.slider-wrap {
	background: white;
	margin-bottom: 25px;

	.image-selection-label {
		position: relative;
		left: -20px;
	}

	md-input-container {
		padding: 0;
	}
}