{{!-- placeholder  --}}
<div class="flex-30"></div>

{{!-- Region list --}}
<div class="flex-50">

    {{!-- Bestehende Exkursionen --}}
    {{#each model  as |excursion|}}
      <h5 class="regionchunk">
        {{#link-to 'excursion.edit' excursion.id }}
          <strong>{{ excursion.id }}</strong> 
        {{/link-to}}
      </h5>
      <p class="edit-date">Aktualisiert am <span>{{excursion.modTime}}</span></p>
    {{/each}}
</div>  


{{#editor-dock createExcursion=true}}
{{/editor-dock}}




