{{!-- placeholder  --}}
<div class="flex-20">
	{{#site-navigation showRegionListAction="regionList"}}
	{{/site-navigation}}		
</div>

{{!-- Exkursionen list --}}
<div class="flex-60">
	{{#dir-content-list createExcursion=true model=model editURL="excursion.edit" contentType="Exkursionen"}}
	{{/dir-content-list}}
</div>  
 
{{#editor-dock}}
{{/editor-dock}}
