{{!-- placeholder  --}}
<div class="flex-20">
	{{#site-navigation showRegionListAction="regionList"}}
	{{/site-navigation}}
</div>

{{!-- Exkursionen list --}}
<div class="flex-60">
	{{#dir-content-list createExcursionAction="openCreateExcursionDialog" createExcursionButton=true model=excursionList editURL="excursion.edit" contentType="Exkursionen"}}
	{{/dir-content-list}}
</div>

{{#if createExcursion}}
  {{#create-excursion bandnummer=region.bandnummer closeCreateExcursionDialogAction="closeCreateExcursionDialog" createExcursionConfirmedAction="createExcursionConfirmed"}}
  {{/create-excursion}}

{{/if}}

{{#editor-dock}}
{{/editor-dock}}
