<div class="layout-row layout-align-end">
  {{#paper-button disabled="true"}}<mark>Zurück zur Region|Band Button</mark>{{/paper-button}}
</div>

<div class="layout-row layout-wrap">

  <div class="flex-33"></div>
  <div class="flex-66">
    {{#each model  as |excursion|}}
      <h5 class="regionchunk">
        {{#link-to 'excursion.edit' excursion.fileName }}
          <strong>{{ excursion.id }}</strong> {{ excursion.name }}
        {{/link-to}}
      </h5>
      <p class="edit-date">Aktualisiert am <span>{{excursion.modTime}}</span></p>
    {{/each}}

  </div>
 </div>



{{outlet}}


