{{!-- placeholder  --}}
<div class="flex-20"></div>

{{!-- Exkursionen list --}}
<div class="flex-60">
	{{#dir-content-list model=model editURL="excursion.edit" contentType="Exkursionen"}}
	{{/dir-content-list}}
</div>  
 
{{#editor-dock createExcursion=true}}
{{/editor-dock}}
