{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.subhead}}Frontmatter{{/text.subhead}}   
      {{#text.headline}}Metadaten{{/text.headline}}   
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    
    <div layout="row" layout-sm="column">
		  {{paper-input flex=70 label="Titel" value=model.title onChange=""}}
		  {{paper-input flex=30 label="Bandnummer" value=model.id onChange=""}}
	  </div>
    
    <div layout="row" layout-sm="column">
      
      {{paper-input flex=70 label="Bundesland" value=model.bundesland onChange=""}}   
      
    </div>
  
    <div layout="" layout-sm="column">
      {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.description onChange=""}}      
    </div>
  
  {{/card.content}}
{{/paper-card}}

<div layout="row">
  <div class="flex-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}<mark>Anzahl</mark> Exkursionen{{/text.headline}}   
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{#link-to "excursion-list"}}Exkursionen auflisten{{/link-to}}  
        {{#link-to "excursion.new"}}Exkursion erstellen{{/link-to}}       
      {{/card.content}}
    {{/paper-card}}
  </div>
  
  <div class="flex-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}<mark>Anzahl</mark> Themen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}       
        {{#link-to "topic-list"}}Themen auflisten{{/link-to}}
        {{#link-to "topic.new"}}Thema erstellen{{/link-to}}           
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>