{{!-- placeholder  --}}
<div class="flex-20">
	{{#site-navigation showRegionListAction="regionList"}}
	{{/site-navigation}}		
</div>

{{!-- Topic list --}}
<div class="flex-60">
	{{#dir-content-list createTopicAction="openCreateTopicDialog" createTopicButton=true createTopic=true model=(reverse topicList) editURL="topic.edit" contentType="Themen"}}
	{{/dir-content-list}}
</div>   

{{#if createTopic}}
  {{#create-topic bandnummer=region.bandnummer closeCreateTopicDialogAction="closeCreateTopicDialog" createTopicConfirmedAction="createTopicConfirmed"}}
  {{/create-topic}}
{{/if}}


{{#editor-dock}}
{{/editor-dock}}
