<div class="layout-row">
  {{#paper-button disabled="true"}}<mark>Zurück zur Region|Band Button</mark>{{/paper-button}}
</div>

{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}<strong>{{model.length}}</strong> Themen{{/text.headline}}   
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <table>
      <thead>
        <tr>
          <th>Link</th>
          <th>Name</th>
          <th>Pfad</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |thema|}}
        <tr>
          <td>{{#link-to 'topic.show' thema.name}}Link{{/link-to}}</td> 
          <td>{{thema.name}}</td>
          <td>{{thema.path}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{/card.content}}
{{/paper-card}}

{{outlet}}


