{{!-- placeholder  --}}
<div class="flex-20"></div>

{{!-- Topic list --}}
<div class="flex-60">
	{{#dir-content-list createTopic=true model=(reverse model) editURL="topic.edit" contentType="Themen"}}
	{{/dir-content-list}}
</div>   

{{#editor-dock}}
{{/editor-dock}}
