{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}    
</div>

{{!-- Topic edit --}}
<div class="flex-60">

    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Frontmatter{{/text.subhead}}   
          {{#text.headline}}Metadaten{{/text.headline}}   
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div layout="" layout-sm="column">
          {{paper-input flex=70 label="Titel" value=model.title onChange=(action (mut model.title))}}
          {{paper-input flex=30 label="Id" value=model.id onChange=""}}
        </div>
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}
          
        </div>
      {{/card.content}}
    {{/paper-card}}

    {{#content-editor model=model}}
    {{/content-editor}}
 
</div>  

{{#editor-dock model=model updateTopic=true deleteTopic=true deleteTopicAction="openDeleteDialog" updateTopicAction="updateTopic"}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#delete-topic-dialog message="Das Thema wird gelöscht." closeDeleteDialogAction="closeDeleteDialog" deleteTopicConfirmedAction="deleteTopic"}}
  {{/delete-topic-dialog}}
{{/if}}

