<div class="container">
	
	{{!-- Navbar --}}
	<div class="layout-row layout-margin nav-logo-text">  

	{{#link-to "index"}}
	  <h1><img src="/img/LiD-online_logo_wi_transpi.png" class="lid-icon" alt="LiD">Online Editor</h1>
	{{/link-to}}

	</div>
	
	{{!-- Main --}}
	<div class="layout-row layout-margin">
	    
	    <div class="flex-100">
	      {{outlet}}
	    </div>
	    
	
	</div>

</div> {{!-- end container --}}