<div class="container">

{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <span class="flex-40">
      <h2>{{#link-to "index"}}Landschaften in Deutschland <em>Online</em>{{/link-to}}</h2>
    </span>    
    <span class="flex-60">
      
    </span>    
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div layout="row">
	<div class="flex-10"></div>
  <div class="flex-80">
    {{outlet}}
  </div>   
  <div class="flex-10"></div>
</div>

</div>