<div class="container">

{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <span class="flex-20">
      <h2>{{#link-to "index"}}LiD Online CMS{{/link-to}}</h2>
    </span>    
    <span class="flex-60">
      {{#paper-button}}
       {{#link-to "excursion-list"}}Exkursionen auflisten{{/link-to}}
      {{/paper-button}}      
    </span>    
	<span class="flex-20"></span>   
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div layout="row">
	<div class="flex-10"></div>
  <div class="flex-80">
    {{outlet}}
  </div>   
  <div class="flex-10"></div>
</div>

</div>