<div class="layout-row layout-wrap">

  <div class="flex-33">
    
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.subhead}}Neuer Band{{/text.subhead}}   
            {{#text.headline}}Metadaten{{/text.headline}}   
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}          
          {{paper-input flex=40 label="Bandnummer" value=model.id onChange=(action (mut name))}}
          {{paper-input flex=70 label="Titel" value=model.title onChange=(action (mut name))}}
          {{#card.actions}}
           {{#paper-button}}
            {{#link-to 'region.edit' region.name}}Erstellen{{/link-to}}
           {{/paper-button}}         
          {{/card.actions}}
        {{/card.content}}
      {{/paper-card}}
  </div>     

  {{#each model as |region|}}
    <div class="flex-33">
    
      {{#paper-card as |card|}}
      
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.subhead}}Bandnummer {{ region.edition }} {{/text.subhead}}   
            {{#text.headline}}{{ region.name }}{{/text.headline}}         
          {{/title.text}}
        {{/card.title}}

        {{#card.content}}
          {{#card.actions}}
           {{#paper-button}}
            {{#link-to 'region.edit' region.name}}Bandinformationen{{/link-to}}
           {{/paper-button}}         
          {{/card.actions}}        
        {{/card.content}}

      {{/paper-card}}
    </div>   
  {{/each}}
</div>
