<div layout="column">
  {{#each model as |region|}}
  
  <div class="flex-60">
  
    {{#paper-card as |card|}}
    
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Bandnummer {{ region.edition }} {{/text.subhead}}   
          {{#text.headline}}{{ region.name }}{{/text.headline}}         
        {{/title.text}}
      {{/card.title}}

      {{#card.content}}
        {{#card.actions}}
         {{#paper-button}}
          {{#link-to 'region.show' region.name}}Bandinformationen{{/link-to}}
         {{/paper-button}}         
        {{/card.actions}}        
      {{/card.content}}

    {{/paper-card}}
  </div>   

  {{/each}}
</div>
