{{!-- placeholder  --}}
<div class="flex-30"></div>

{{!-- Region list --}}
<div class="flex-50">

    {{!-- Bestehende Bände --}}
    {{#each (reverse model)  as |region|}}
      <h5 class="regionchunk">{{#link-to 'region.edit' region.id }}
             <strong>{{ region.edition }}</strong> {{ region.name }}
            {{/link-to}}  </h5>
    {{/each}}
</div>  


{{#editor-dock createRegion=true}}
{{/editor-dock}}
   



