<div class="layout-row layout-wrap">  

  {{!-- Neuer Band --}}
  <div class="flex-50">
      
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Neuer Band{{/text.subhead}}   
          {{#text.headline}}Metadaten{{/text.headline}}   
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}          
        {{paper-input flex=40 label="Bandnummer" value=newModel.id required="true" required-errortext="Wichtig!" onChange=null}}
        {{paper-input flex=70 label="Titel" value=newModel.title onChange=(action (mut name))}}
        {{#card.actions}}
          {{#paper-button onClick=(action "save")}}Erstellen{{/paper-button}}           
        {{/card.actions}}
      {{/card.content}}
    {{/paper-card}}

  </div>     

  {{!-- Bestehende Bände --}}
  {{#each ( chunk 5 (reverse model) ) as |regionchunk|}}
    
    <div class="flex-50">
      
      {{#paper-card as |card|}}
        {{#card.content}}          
          {{#each regionchunk as |region|}}
            {{#link-to 'region.edit' region.name}} 
              <h3> {{ region.name }} </h3> 
            {{/link-to}}            
          {{/each}}        
        {{/card.content}}
      {{/paper-card}}
    
    </div>       
  {{/each}}


    
</div>     

